@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Damion');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.formGroup-item {
    display: flex;
    align-items: flex-start;
    margin: 5px 0;
}

.formGroup-label {
    flex: 1;
    min-width: 0;
    padding: 5px 10px;
    text-align: end;
}

.formGroup-value {
    flex: 2;
    min-width: 0;
    padding: 5px 0;
}

input,
button {
    border-radius: 3px;
}

input,
select {
    background: #F1EFF9;
    border: 1px solid #6095C9;
    line-height: 30px;
}

.width100 {
    width: 100%;
}

.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.logout-button {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.u-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.u-flex {
    display: flex;
}

aside {
    width: 25vw;
}

.u-flexGrow1 {
    flex-grow: 1;
}

.u-marginSmall {
    margin: 5px;
}

.u-paddingSmall {
    margin: 5px;
}

.u-marginHorizontalSmall {
    margin: 5px 0px;
}




.column {
    display: flex;
  flex-direction: column;

}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: .25em;
  }